body, html {
    margin: 0;
    height: 100%;
    font-size: 42px;
}

#background {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    margin-top: 42px;
    text-align: left;
}

.overlay button {
    margin-top: 42px;
    margin-left: 14px;
}

/* Extra large screens, big displays */

@media only screen and (max-width: 1800px) {

}

/* Larger screens, TVs, wide screens */

@media only screen and (max-width: 1200px) {

}

/* Medium screens, desktops */

@media only screen and (max-width: 1024px) {

}

/* Small screens, tablets */

@media only screen and (max-width: 768px) {

}

/* Tiny screens, mobile devices, phones */

@media only screen and (max-width: 480px) {

}