body, html {
    margin: 0;
    height: 100%;
    font-size: 1.9vw;
}

#background {
    padding: 1vw;
}

.container {
    max-width: 1200px;
    margin: auto;
}

 .doubled-size-title {
     font-size: 210%;
 }

/* Extra large screens, big displays */

@media only screen and (max-width: 1800px) {
    body, html {
        font-size: 1.5vw;
    }
}

/* Larger screens, TVs, wide screens */

@media only screen and (max-width: 1200px) {

}

/* Medium screens, desktops */

@media only screen and (max-width: 1024px) {

}

/* Small screens, tablets */

@media only screen and (max-width: 768px) {
    body, html {
        font-size: 3vw;
    }
}

/* Tiny screens, mobile devices, phones */

@media only screen and (max-width: 480px) {
    body, html {
        font-size: 4vw;
    }
}